@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  text-decoration: none;
}

/* Custom Properties */

:root {
  /* Primary Colors  */
  --gray: #fff;
  --violet: #8b48bf;
  --violet2: #8b48bf4d;
  --cyan: #3cddf3;
  --dark-gray: #1e1e26;
  --dark-blue: #232851;
  --light-gray: rgb(249, 249, 249);
  /* Font size  */
  --font-size: 16px;
}

/* Button Styles */
.btn-cta {
  border: none;
  background-color: var(--violet);
  color: var(--light-gray);
  padding: 12px 36px;
  border-radius: 50px;
  border: solid 1px var(--violet);
}

.btn-cta:hover {
  background-color: var(--light-gray);
  color: var(--violet);
  cursor: pointer;
}

.btn-card {
  width: 50px;
  height: 27px;
  border-radius: 20px;
  border: none;
  background-color: var(--violet);
  color: var(--gray);
  font-weight: 600;
  margin-right: 20px;
}
.btn-card:hover {
  background-color: var(--light-gray);
  color: var(--violet);
  cursor: pointer;
}
.btn-cta-players {
  border: none;
  background-color: var(--violet);
  color: var(--light-gray);
  padding: 12px 36px;
  border-radius: 50px;
  border: solid 1px var(--violet);
}

.btn-cta-players:hover {
  background-color: var(--light-gray);
  color: var(--violet);
  cursor: pointer;
}
.btn-cta-go {
  border: none;
  background-color: var(--light-gray);
  color: var(--violet);
  padding: 12px 36px;
  border-radius: 50px;
  border: solid 1px var(--light-gray);
}

.btn-cta-go:hover {
  cursor: pointer;
}

/* Header Styles */
.container {
  display: flex;
}
.header-home {
  height: 174px;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 1.75rem;
}

.header-nav {
  width: 35%;
}

.nav-ul {
  font-size: 13px;
  justify-content: space-between;
  list-style-type: none;
}

.nav-ul li a {
  color: var(--dark-blue);
}
.nav-ul li a:hover {
  opacity: 60%;
}
.burger {
  display: none;
}

/* Body styles */
body {
  background-color: var(--gray);
}
/* Hero styles */

.container-hero {
  justify-content: space-between;
  width: 80vw;
  margin: 25px 10vw;
}

.hero-img {
  width: 50%;
}

.hero-text {
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-text h1 {
  font-size: 50px;
  line-height: 57px;
  text-align: right;
  color: var(--dark-blue);
}

.hero-text p {
  line-height: 25px;
  text-align: right;
}

.hero-text p,
.hero-text h1,
.hero-text button {
  margin-top: 40px;
}

/* Banner styles */
.banner {
  background-color: var(--violet);
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 40px 14%;
  justify-content: space-between;
  align-items: center;
}
.h-banner {
  font-size: 2.25rem;
  color: var(--gray);
  padding-right: 50px;
  width: 100%;
}
.p-banner {
  color: #fff;
  padding-left: 50px;
  width: 100%;
}

/* Cards styles  */
.container-cards {
  padding-top: 30px;
  background-color: #fafafa;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 350px;
}
.card {
  width: 553px;
  height: 158px;
}
.h-card {
  line-height: 160%;
  width: 30vw;
  height: 130px;
}

/* Players styles */
.container-profiles {
  margin: 100px 5px;
}
.container-profiles h2 {
  text-align: center;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 30px;
}
.container-player {
  margin: 50px 0px;
}
.player-bio {
  padding: 0px 45px;
  text-align: center;
  line-height: 156%;
}
.card-player-1,
.card-player-2,
.card-player-3 {
  background-color: #fafafa;
  height: 219px;
}
.profile-pic {
  position: relative;
  bottom: 50px;
  left: 200px;
}
.container-profiles h4 {
  position: relative;
  bottom: 45px;
  text-decoration: dotted;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.btn-cta-players {
  position: relative;
  left: 600px;
}

/* Banner two styles */
.banner-b {
  background-color: var(--violet);
  margin: auto;
  padding: 64px 14%;
  justify-content: space-between;
  align-items: center;
}
.h-banner-b {
  font-size: 2.25rem;
  color: var(--gray);
}

/* Footer styles */
footer {
  background-color: var(--dark-gray);
  display: flex;
  height: 250px;
  padding: 60px 160px;
  justify-content: space-between;
}
.fa-brands {
  color: var(--gray);
  font-size: 20px;
  margin-right: 13px;
  margin-top: 80px;
}
.col1-footer {
  width: 25%;
}
.col2-footer {
  width: 50%;
  color: var(--gray);
  display: flex;
  justify-content: space-around;
}
.li-footer {
  list-style: none;
  margin-bottom: 12px;
}
.col3-footer {
  width: 25%;
  text-align: right;
}
.copyright {
  color: #8c8c94;
  font-size: 12px;
  margin-top: 80px;
}
#update {
  padding: 12px;
  border-radius: 50px;
  font-size: 13px;
  border-style: none;
  margin-right: 9px;
}
#update::placeholder {
  color: #a0a0a0;
}
.form-btn {
  padding: 12px 21px;
}

/* Media queries */

@media screen and (max-width: 480px) {
  .header-nav,
  .header-home .btn-cta {
    display: none;
  }
  .burger {
    font-size: 3.5rem;
    color: var(--dark-blue);
    display: block;
  }
  .container-hero {
    flex-direction: column;
    gap: 50px;
  }

  .hero-img,
  .hero-text {
    width: 100%;
    gap: 25px;
  }
  .banner {
    display: block;
    background-color: var(--cyan);
    padding: 40px 20px;
    margin-top: 20px;
  }
  .h-banner,
  .p-banner {
    padding: 0;
  }
  .h-banner {
    margin-bottom: 50px;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .card {
    width: 440px;
    height: 180px;
  }
  .h-card {
    width: 435px;
    height: 180px;
  }
  h3 {
    background-color: var(--violet2);
    padding-left: 20px;
  }
  .btn-card {
    position: relative;
    left: 30px;
    bottom: 1px;
  }
  .card-player-1,
  .card-player-3 {
    display: none;
  }
  .profile-pic {
    position: relative;
    bottom: 50px;
    left: 195px;
  }
  .btn-cta-players {
    position: relative;
    left: 150px;
  }

  .banner-b {
    background-color: var(--cyan);
    color: var(--gray);
    flex-direction: column;
    text-align: center;
  }
  .banner-best {
    font-size: 20px;
    width: 187px;
  }
  .btn-cta-go {
    background-color: var(--dark-blue);
    color: var(--gray);
  }
  footer {
    flex-direction: column-reverse;
    height: auto;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
  }
  .col1-footer,
  .col2-footer,
  .col3-footer {
    width: 100%;
    text-align: center;
  }
  .col1-footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .col2-footer {
    margin-top: 40px;
    text-align: left;
  }
  #update {
    width: 70%;
  }
  .rrss {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px;
  }
  .fa-brands {
    margin-right: 0px;
    margin-top: 0px;
  }
  .copyright {
    margin-top: 40px;
  }
}

@media screen and (min-width: 481px) {
  .hidden {
    display: none !important;
  }
}
