@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  text-decoration: none;
}

/* Custom Properties */

:root {
  /* Primary Colors  */
  --gray: #fff;
  --violet: #8b48bf;
  --cyan: #3cddf3;
  --dark-gray: #1e1e26;
  --dark-blue: #232851;
  --light-gray: rgb(249, 249, 249);
  /* Font size  */
  --font-size: 16px;
}

.container {
  display: flex;
}

/* Button Styles */
.btn-cta {
  border: none;
  background-color: var(--violet);
  color: var(--light-gray);
  padding: 12px 36px;
  border-radius: 50px;
  border: solid 1px var(--violet);
}

.btn-cta:hover {
  background-color: var(--light-gray);
  color: var(--violet);
  cursor: pointer;
}

/* Header Styles */

.header-home {
  height: 174px;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 1.75rem;
}

.header-nav {
  width: 35%;
}

.nav-ul {
  font-size: 13px;
  justify-content: space-between;
  list-style-type: none;
}

.nav-ul li a {
  color: var(--dark-blue);
}
.nav-ul li a:hover {
  opacity: 60%;
}
.burger {
  display: none;
}

/* Body styles */
body {
  background-color: var(--gray);
}
/* ESTILOS DEL HERO */

.container-hero {
  justify-content: space-between;
  width: 80vw;
  margin: 25px 10vw;
}

.hero-img {
  width: 50%;
}

.hero-text {
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-text h1 {
  font-size: 50px;
  line-height: 57px;
  text-align: right;
  color: var(--dark-blue);
}

.hero-text p {
  line-height: 25px;
  text-align: right;
}

.hero-text p,
.hero-text h1,
.hero-text button {
  margin-top: 40px;
}

/* Estilos del banner */
.banner {
  display: flex;
  background-color: var(--violet);
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 40px 14%;
  justify-content: space-between;
  align-items: center;
}
.h-banner {
  font-size: 2.25rem;
  color: var(--gray);
  padding-right: 50px;
  width: 100%;
}
.p-banner {
  color: #fff;
  padding-left: 50px;
  width: 100%;
}
/* Media queries */

@media screen and (max-width: 480px) {
  .header-nav,
  .header-home .btn-cta {
    display: none;
  }
  .burger {
    font-size: 3.5rem;
    color: var(--dark-blue);
    display: block;
  }
  .container-hero {
    flex-direction: column;
    gap: 50px;
  }

  .hero-img,
  .hero-text {
    width: 100%;
    gap: 25px;
  }
  .banner {
    display: block;
    background-color: #3cddf3;
    padding: 40px 20px;
    margin-top: 20px;
  }
  .h-banner,
  .p-banner {
    padding: 0;
  }
  .h-banner {
    margin-bottom: 50px;
  }
}
